h1 {
 color: black;
 text-align: center;
}
header {
  color:blue;
 }
body {
    background-color: grey;
    }
h1 {
 font-family: Chalkduster, Arial;
    }
footer {
    border: 2px solid black;
    border-radius: 10px; 
    }
footer {
        color: #333333;
       }
body {
      margin: 20px;
     }
body {
      padding: 15px;
      }
a {
      color: red;
      }
a {
   text-decoration: none;
   }
a:hover {
 color: green;
}

